#Repository
jax[cpu]
jaxlib
equinox

#Markdown
jinja2==3.0.3
Markdown>=3.3
MarkupSafe>=1.1
mkdocs>=1.2
mkdocs-autorefs>=0.3.1
pymdown-extensions>=6.3
mkdocs==1.3.0
mkdocs-autorefs
mkdocs_include_exclude_files==0.0.1
mkdocs-material==8.3.9
mkdocs-material-extensions
mkdocstrings==0.17.0
mkdocstrings-python
mkdocstrings-python-legacy
mknotebooks==0.7.1
pymdown-extensions==9.4
pytkdocs_tweaks==0.0.5